<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <!--Local Credentials Start-->

    <!--<add key="ConString" value="packet size=4096;uid=bmbusr;pwd=b@bMb!32t00ls;server=69.162.74.186;persist security info=False;database=bmbdb"/>-->
    <add key="ConString" value="packet size=4096;uid=dbuser;pwd=dbuser123;server=server-abbacus;persist security info=False;database=BMB"/>

    <add key="AminPageTitle" value="BMB" />
    <add key="Pagging" value="5" />
    <add key="SuperAdminTypeId" value="1" />
    <add key="AdminTypeId" value="2" />

    <add key="English" value="1"/>
    <add key="Arabic" value="2"/>
    <add key="companyid" value="1" />
    <add key="serviceid" value="1" />
    <add key="storeid" value="1" />

    <add key ="Product" value="Product"/>
    <add key ="MasterProduct" value="Master Product"/>
    <add key ="Category" value="Category"/>
    <add key ="Brand" value="Brand"/>
    <add key ="SetUp" value="Setup"/>
    <add key ="Customer" value="Customer"/>
    <add key ="Inventory" value="Inventory"/>
    <add key ="Images" value="Images"/>
    <add key ="ManageUser" value="Manage User"/>
    <add key ="CMS" value="CMS"/>
    <add key ="Importjobs" value="Import jobs"/>
    <add key ="Catalogs" value="Catalogs"/>
    <add key ="Images" value="Images"/>
    <add key ="Orders" value="Orders"/>
    <add key ="Payment" value="Payment"/>
    <add key ="Configuration" value="Configuration"/>
    <add key ="SmartCatelogs" value="Smart Catelogs"/>

    <add key ="ViewOrderPageSize" value="20"/>
    <add key ="UploadImagePageSize" value="30"/>
    <add key ="ImportJobsPageSize" value="10"/>
    <add key ="ManageCustomerPageSize" value="10"/>
    <add key ="ManageUserPageSize" value="10"/>
    <add key ="ManagePaymentPageSize" value="15"/>
    <add key ="ManageInventryPageSize" value="50"/>
    <add key ="CatelogsProductCategoryPageSize" value="20"/>

    <add key="OrderRecieved" value="1" />
    <add key="PreparingOrder" value="2" />
    <add key="Shipped" value="3" />
    <add key="Delivered" value="4" />
    <add key="CancelOrder" value="5" />

    <add key="SMSOrderRecived" value="1" />
    <add key="SMSOrderShipped" value="2" />

    <add key="PaymentPaid" value="1" />
    <add key="PaymentUnpain" value="2" />

    <add key="PayTypeCase" value="1" />
    <add key="PayTypeCredit" value="2" />

    <add key ="EmailNotificationsNewUserId" value="1"/>
    <add key ="EmailNotificationsOrderReceivedId" value="2"/>
    <add key="EmailNotificationsOrderShippedId" value="3"/>
    <add key="EmailNotificationsInvoiceId" value="4"/>
    <add key="EmailNotificationsInvoicePDFId" value="4"/>

    <add key="ErrorUploadRootPath" value="Resources\ProductCSV\ErrorProductCSV\"/>
    <add key="ErrorInventoryUploadRootPath" value="Resources\InventoryCSV\ErrorInventoryCSV\"/>
    <add key="ErrorMasterProductUploadRootPath" value="Resources\MasterProductCSV\ErrorMasterProductCSV\"/>

    <add key="ImportProduct" value="Resources\ProductImport\ProductImportFile\"/>
    <add key="ImportInventory" value="Resources\ProductImport\InventoryImportFile\"/>

    <!--<add key="ADMIN_SITE_URL" value="http://localhost:2249/"/>-->
    <add key="ADMIN_SITE_URL" value="http://bmbtools.on-linedemo.com/admin/"/>

    <!--<add key="SITEURL" value="http://bmbtools.on-linedemo.com/"/>-->
    <add key="SITEURL" value="http://localhost:1243/BMB/"/>
    <!--<add key="SITEURL" value="http://192.168.192.177:12/"/>-->


    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>

    <sessionState timeout="300" mode="InProc" />
    <customErrors mode="Off" defaultRedirect="admin/404.aspx">
      <error statusCode="404" redirect="admin/404.aspx"/>
    </customErrors>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1073741" executionTimeout="1200" />
    <!--102400-->
    <compilation debug="true" targetFramework="4.5"/>
    <!--<httpRuntime targetFramework="4.5" />-->

    <httpModules>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </httpModules>
    <pages enableEventValidation="false"/>

  </system.web>

  <system.webServer>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="index.html" />
      </files>

    </defaultDocument>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>

  </system.webServer>

</configuration>
